---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Research</h1>
  <ul class="posts" style="text-align:justify">
    {% for post in site.posts %}
      Our research efforts aim to understand, tailor, and manipulate the atomistic level description of a system with the development and implementation of quantum-classical dynamics. It explores the details of underlying processes that influence this system, providing a better insight into the cutting edge experimental research and have a high potential to impact society by enabling new technologies or by improving the existing ones. The research in our group revolves around the following main themes:
    {% endfor %}
  </ul>
  <ul class="center">
    <img src="/images/1.jpg" alt="Dynamics"> 
  </ul>
  <h2>Energy</h2>
  <ul class="posts" style="text-align:justify">
    {% for post in site.posts %}
      Solar energy carries an enormous potential to resolve the current energy and environmental pollution problems. The development of efficient tools for conversion of sunlight to electrical and chemical energy is critical for promoting the renewable energy economy. This challenge has stimulated a large number of experimental and theoretical studies aimed at finding materials capable of either transforming solar energy into electricity or inducing chemical reactions. The unique physical and chemical properties of nanoscale systems make them a great candidate for harvesting solar energy. Real-time theoretical modeling provides an understanding of the system in order to harness their unique properties within the context of reducing the environmental impact of energy consumption. 
    <p> </p>
    <p>
      Some of the materials or systems that we are interested include:
      <ul>
        <li>Quantum dots and their assemblies</li>
        <li>2D materials and their interfaces</li>
        <li>Perovskites</li>
      </ul>
    </p>
    {% endfor %}
  </ul>
  <h2>Materials</h2>
  <ul class="posts" style="text-align:justify">
    {% for post in site.posts %}
      The characteristics of materials are the foundational building block of technology. The discovery and optimization of advanced materials are essential for a wide range of applications. To maintain innovation in the design of new materials we must be able to connect these properties to the required functionality.
    <p> </p>
    <p>
      Some of the specific directions include:
      <ul>
        <li>Metal Organic Frameworks for Sensors</li>
        <li>Congugated Polymers for Photoelectrodes</li>
      </ul>
    </p>
    {% endfor %}
  </ul>
<hr>
<ul class="clearfix">
  <h2>Current Support</h2>
</ul>
<ul class="clearfix">
  <img class="img1" src="/images/NSF.tif" alt="NSF" width="150" height="120"  hspace="20">
  <img class="img1" src="/images/logo.png" alt="ClarksonU" width="120" height="120"  hspace="20">
  <img class="img1" src="/images/xsede-full-color.jpg" alt="NSF-XSEDE" width="200" height="120"  hspace="20">
  <img class="img1" src="/images/ClarksonUIgnite.jpg" alt="Ignite" width="120" height="120"  hspace="20">
</ul>

<ul class="clearfix">
  <h2>Past Support</h2>
</ul>
<ul class="clearfix">
  <img class="img1" src="/images/APS.png" alt="APS" width="150" height="120"  hspace="20">
</ul>

</div>
