<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://dharatrivedi.github.io/" class="dropbtn">Home</a>
  <a href="https://dharatrivedi.github.io/research.html" class="dropbtn">Research</a>
  <a href="https://dharatrivedi.github.io/people.html" class="dropbtn">Team</a>
  <a href="https://dharatrivedi.github.io/publication.html" class="dropbtn">Publication</a>
  <div class="dropdown">
  <button class="dropbtn">More</button>
    <div class="dropdown-content">
      <a href="https://dharatrivedi.github.io/pageunderconstruction.html">News</a>
      <a href="https://dharatrivedi.github.io/pageunderconstruction.html">Openings </a>
      <a href="https://dharatrivedi.github.io/pageunderconstruction.html">Useful Links </a>
    </div>
    </div>
</section>
